body { background: #64d9ea; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 37px; display: flex; }
.block-cache-0 { color: #313af7; font-size: 12px; margin-bottom: 5px; }
.block-helper-1 { color: #39a06c; font-size: 15px; margin-bottom: 5px; }
.block-shipping-2 { color: #afa62e; font-size: 19px; margin-bottom: 5px; }
.block-shipping-3 { color: #fb2d33; font-size: 21px; margin-bottom: 5px; }
.block-token-4 { color: #a27a37; font-size: 13px; margin-bottom: 5px; }
.block-config-5 { color: #786935; font-size: 12px; margin-bottom: 5px; }
.block-validator-6 { color: #332c73; font-size: 17px; margin-bottom: 5px; }
.block-search-7 { color: #f0768; font-size: 15px; margin-bottom: 5px; }